SHEETY_USER=tim
SHEETY_PASS=DMUXLoDKml
YOUR_APP_ID=9aef1667
YOUR_API_KEY=f8f5e832db6a02ddfacb189d1e4e36ec
YOUR_Nutritionix_API_Endpoint=https://trackapi.nutritionix.com/v2/natural/exercise
YOUR_Sheety_API_Endpoint=https://api.sheety.co/2d17eedd76e06f67b703a322e9ef5ef6/myWorkout/sheet1

